
  <div *ngIf="itemsTodoschild" [formGroup]="parentForm">
    <ul formArrayName="itemsTodos">
      <li *ngFor="let item of itemsTodoschild.controls; let index=index" [formGroupName]="index"  class="listItem">
        <input type="checkbox" class="toggle" [checked]="item.isComplete" formControlName="isComplete" (change)="onCheckChange($event.target, index, item)">
        <label>{{ item.get('taskTitle')?.value }} - {{ item.get('isComplete')?.value }}</label> 
        <label class="destroy" (click)="removeItem(index,item)">x</label>
      </li> 
    </ul>
  </div>