<main class="main">
  <div class="content">
    <div class="" style="min-width: 30%;">
      <h1>Todos</h1>
      <form [formGroup]="profileForm" style="position: relative;">
        @if(originalItems.length>0){
        <label class="toggle-all-label" [ngClass]="{'toggle-all-labelDark': checkToggleAll}"
          (click)="toggleAll()"></label>
        }
        <input id="name" type="text" formControlName="taskTitle" placeholder="What needs to be done?" class="new-todo"
          (keydown)="onKeydown($event)">

        <app-list-item [parentForm]="profileForm" [itemsTodoschild]="itemsTodos" [originalItems]="originalItems">
        </app-list-item>
        <app-footer [originalItems]="originalItems" [itemsTodoschild]="itemsTodos" [parentForm]="profileForm"></app-footer>
      </form>
      <app-list-item></app-list-item>
    </div>

  </div>
</main>

<router-outlet />